NET "clock"     LOC = "C9"  | IOSTANDARD = LVCMOS33;
NET "reset"     LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;

NET "leds<2>"   LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "leds<1>"   LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET "leds<0>"   LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
